.card {
  width: 304px;
  height: 241px;
  background: $light-blue;
  color: $primary-blue;
  border-radius: 8px;
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &.active {
    border: 2px solid $form-border-blue;
  }

  .tab {
    font-weight: bold;
    font-size: 0.875rem;
    width: 79px;
    height: 32px;
    background: $form-border-blue;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  h2 {
    font-weight: bold;
    font-size: 1.25rem;
  }
}
