.layout {
  min-height: 100vh;
  background: $background-blue;
  padding: 50px 8%;
  header {
    margin-bottom: 80px;
    a {
      font-weight: 500;
      font-size: 1rem;
      color: $white;
    }
  }
  &.main {
    .layout__child {
      max-width: 982px;
      width: 90%;
      margin: auto;
      &__nav {
        margin-bottom: 20px;
        span {
          color: $white;
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 1.5rem;
        }
      }
      &__main {
        background: $white;
        border-radius: 16px;
        padding: 80px 70px;
      }
    }
    &.lg {
      .layout__child {
        max-width: 1030px;
      }
    }
  }
}

@include media("<=phone2x") {
  .layout {
    padding: 40px 6%;
    header {
      margin-bottom: 50px;
    }
    &.main {
      .layout__child {
        width: 100%;
      }
    }
  }
}
