// App level styles
a,
button {
  cursor: pointer;
}
a {
  color: $white;
}

.flex-ac-jb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-ac {
  display: flex;
  align-items: center;
}

// @include media("<=phone2x") {
//   .details-tab {
//     justify-content: unset;
//     padding-left: 5%;
//   }

//   .profile-container {
//     padding: 0 5% 100px 5%;
//   }
// }
