@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

/* SASS Variables */
$black: #000;
$white: #fff;
$default: #122d65;
$primary: #081635;
$dark-blue: #171f46;
$dark-blue-32: rgba(8, 22, 53, 0.32);
$dark-blue-100: #061945;
$blue: #0b69ff;
$blue-10: rgba(11, 105, 255, 0.1);
$lex-blue: #245b91;
$grey-100: #7e858e;
$grey-1: #333;
$grey-2: #4f4f4f;
$grey-3: #828282;
$grey-4: #bdbdbd;
$grey-6: #f2f2f2;
$subtle: #767676;
$grey-bg: #f8f8f8;
$grey-border: #f5f1f1;
$light-grey: #d7dfe9;
$light-grey-24: rgba(215, 223, 233, 0.24);
$red: #ff0b37;
$red-2: #eb5757;
$yellow: #ffb800;

//Responsive Variables
$breakpoints: (
  phone: 320px,
  phone2x: 480px,
  phone3x: 768px,
  tablet: 992px,
  tablet2x: 1024px,
  desktop: 1200px,
  desktop2x: 1440px,
  desktop3x: 1680px,
);
