@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

/* SASS Variables */
$black: #000;
$white: #fff;
$background-blue: #142136;
$light-blue: #dbe9ff;
$primary-blue: #294766;
$secondary-blue: #264980;
$secondary-light-blue: #f0f6ff;
$form-border-blue: #8fb8cc;
$dark-blue: #0a1f35;
$primary-button-green: #2e774b;
$attention-brown: #aa2c09;
$attention-light-brown: #ffe9c9;

//Responsive Variables
$breakpoints: (
  phone: 320px,
  phone2x: 480px,
  phone3x: 768px,
  tablet: 992px,
  tablet2x: 1024px,
  desktop: 1200px,
  desktop2x: 1440px,
  desktop3x: 1680px,
);
