.open-offer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-blue;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  p {
    gap: 5px;
    display: flex;
    align-items: center;
    a {
      text-decoration: underline;
    }
  }

  .create-offer__trades {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .modal {
    p {
      font-size: 1rem;
      width: unset;
      margin: unset;
    }
  }

  .info {
    margin-bottom: 50px;
    margin-top: 20px;
    max-width: 397px;
  }

  .flex-ac {
    gap: 20px;
  }
}

.detail-table {
  margin-bottom: 50px;
  margin-top: 30px;
  display: grid;
  grid-row-gap: 30px;
  &__item {
    grid-gap: 18vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
