.pending-approval {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-blue;
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  h4 {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  .detail-table {
    margin-top: 50px;
  }
  .info {
    margin-bottom: 50px;
  }
  &__success {
    margin-top: 50px;
    text-align: center;
    p {
      max-width: 470px;
      width: 90%;
      margin: 50px 0 60px 0;
    }
    .btn {
      width: 260px;
    }
  }
}
