.signup {
  width: 100%;
  max-width: 580px;
  height: 664px;
  padding: 70px 80px;
  border-radius: 16px;
  background: $white;
  &.signin {
    p {
      width: 100%;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 2rem;
    color: $primary-blue;
    text-align: center;
  }
  p {
    color: $secondary-blue;
    width: 80%;
    margin: 35px auto;
    text-align: center;
  }
  form {
    max-width: 378px;
    margin: auto;
    .form-button {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 50px;
    }
  }
  footer {
    font-size: 20px;
    text-align: center;
    color: $primary-blue;
    a {
      color: $primary-blue;
      font-weight: bold;
    }
  }
}

@include media("<=phone3x") {
  .signup {
    padding: 50px;
    margin-bottom: 80px;
  }
}

@include media("<=phone2x") {
  .signup {
    height: unset;
    padding: 10% 8%;
    margin-bottom: 50px;
    h3 {
      font-size: 1.75rem;
    }
    p {
      margin: 20px auto;
      width: 100%;
    }
    form {
      .form-button {
        margin-bottom: 30px;
      }
    }
  }
}
